@media print {
  .not-print { display: none !important; }
  .container { padding: 0 !important; }
}

::-webkit-scrollbar { display: none; }
html, body { margin: 0; padding: 0; background: #fff; font-family: Helvetica; font-size: 14px; line-height: 22px; color: #000 !important; }
hr { width: 100%; height: 0; margin: 0; padding: 0; border: none; border-top: 5px solid #000; }
hr.dashed { border-top: 1px dashed #000; }
h1 { display: block; margin: 0; padding: 0 0 10px 0; font-size: 28px; line-height: 36px; font-weight: bold; }
h2 { display: inline-block; margin: 0; padding: 0; font-size: 24px; line-height: 32px; font-weight: bold; }
h3 { display: block; margin: 0; padding: 0; font-size: 16px; line-height: 24px; font-weight: bold; }
ul { margin: 0; padding: 0; list-style: none !important; }
ul li { margin: 0; padding: 0 0 0 20px; }
button { background: none; border: none; outline: none; }

.container-fluid { width: 100%; margin: 0; padding: 10px 30px; background: #ccc; position: fixed; left: 0; top: 0; z-index: 1; }
.wrapper { position: relative; }
nav { margin: 0; padding: 5px 0 0 0; float: right; }
nav ul li { display: inline-block; margin: 0; padding: 0; }
.op-icon { font-size: 16px; color: #000 !important; text-decoration: none !important; outline: none !important; }

.container { padding-top: 80px; padding-bottom: 30px; z-index: 0; }
#app-cv { display: block; width: 100%; height: 100%; margin: 0; padding: 20px; box-shadow: 1px 1px 3px 1px #000; }
.wrapper-h { display: flex; flex-flow: row nowrap; align-content: space-between; }
.wrapper-v { display: flex; flex-flow: column nowrap; align-content: flex-start; }
#col-left { width: 30%; margin: 0 auto; margin-right: 30px; }
#col-right { width: 70%; margin: 0 auto; }
.data-box { display: block; margin: 0; padding: 10px 0; position: relative; }
.data-box button { font-size: 20px; position: absolute; top: 20px; right: 0; }
.avatar { display: block; margin: 0; padding: 10px; background: #fff; border: 1px solid #ccc; }
.avatar img { width: 100%; height: auto; }
.go-right { float: right; }
.half-data-box { display: flex; flex-flow: row nowrap; align-items: flex-start; }
.half-data-box .data-box { width: 50%; margin: 0 auto; }
.half-data-box .data-box:last-child { margin-left: 30px; }
.list-result { padding-left: 20px; }
.with-line-feed { white-space: pre-wrap; }

.form-group { position: relative; }
.form-group .photo { display: block; width: auto; height: 360px; margin: 0; padding: 5px; border: 1px solid #ccc; }
.form-group .file-input { margin-top: 23px; }
.form-control.form-dynamic { height: auto; }
.form-list { padding-bottom: 5px; }
.form-list:last-child { padding-bottom: 0; }
.form-icon-controller { position: absolute; top: 0; right: 0; }
.form-icon { margin-top: 10px; font-size: 18px; }
