<div id="app-cv">
    <div class="wrapper-h">
        <div id="col-left" class="wrapper-v">
            <div class="data-box">
                <div class="avatar">
                    <img src="./storage/<% cv.image %>">
                </div>
            </div>
            <div class="data-box">
                <hr>
                <h1>CV</h1>
                <h2>
                    <% cv.name | uppercase %>
                </h2>
                <p>
                    <div><strong>Age</strong>&nbsp;
                        <% cv.age %>&nbsp;years</div>
                    <div><strong>T.</strong>&nbsp;
                        <% cv.telephone %>
                    </div>
                    <div><strong>E.</strong>&nbsp;
                        <% cv.email %>
                    </div>
                    <div>
                        <% cv.address %>
                    </div>
                </p>
            </div>
            <div class="data-box">
                <hr>
                <h1>Skills</h1>
                <ul>
                    <li ng-repeat="skill in skills">
                        <div>
                            <% skill.skill %>
                        </div>
                        <div class="list-result">
                            (
                            <% skill.skill_score %>/
                                <% skill.skill_full_score %>)
                                    <i ng-repeat="i in range(1, skill.skill_score)" class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="data-box">
                <hr>
                <h1>Communication</h1>
                <ul>
                    <li ng-repeat="cmm in communications">
                        <div>
                            <% cmm.skill %>
                        </div>
                        <div class="list-result">
                            <% cmm.score %>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="data-box">
                <hr>
                <h1>Interest</h1>
                <ul>
                    <li ng-repeat="int in interests">
                        <% int.detail %>
                    </li>
                </ul>
            </div>
        </div>
        <div id="col-right" class="wrapper-v">
            <div class="data-box">
                <hr>
                <h1>About Me</h1>
                <div class="with-line-feed">
                    <% cv.about_me %>
                </div>
            </div>
            <div class="data-box">
                <hr>
                <h1>Employment</h1>
                <ul>
                    <li ng-repeat="emp in employments">
                        <h3>
                            <span><% emp.from %> - <% emp.to %></span>
                            <span class="go-right"><% emp.company %></span>
                        </h3>
                        <hr class="dashed">
                        <h3>
                            <% emp.position %>
                        </h3>
                        <p>
                            <% emp.detail %>
                        </p>
                        <p>&nbsp;</p>
                    </li>
                </ul>
            </div>
            <div class="half-data-box">
                <div class="data-box">
                    <hr>
                    <h1>Education</h1>
                    <ul>
                        <li ng-repeat="edu in educations">
                            <% edu.detail %>
                        </li>
                    </ul>
                </div>
                <div class="data-box">
                    <hr>
                    <h1>Computer</h1>
                    <ul>
                        <li ng-repeat="com in computers">
                            <% com.detail %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>