<div class="wrapper container">
  <form name="cvform" method="post" action="<% opt_action %>" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="<% opt_method %>">
    <!--
    <div class="form-group">
      <label for="photo">Photo</label>
      <canvas id="canvas" width="640" height="480"></canvas>
      <video id="video" width="640" height="480" autoplay></video>
      <div id="canvas-controller">
        <button id="snap"><i class="fa fa-camera" aria-hidden="true"></i></button>
        <button><i class="fa fa-picture-o" aria-hidden="true"></i></button>
      </div>
      <script>
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');
        
        if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.src = window.URL.createObjectURL(stream);
            video.play();
          });
        }
        document.getElementById('snap').addEventListener('click', function() {
          context.drawImage(video, 0, 0, 640, 480);
        });
      </script>
    </div>
    -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <img class="photo" src="<% photo %>">
          <input type="file" class="form-control file-input" name="photo">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="name" value="<% fullname %>" placeholder="Firstname Lastname" required>
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="text" class="form-control" name="age" value="<% age %>" placeholder="Age" required>
        </div>
        <div class="form-group">
          <label>Telephone</label>
          <input type="text" class="form-control" name="telephone" value="<% telephone %>" placeholder="Telephone number" required>
        </div>
        <div class="form-group">
          <label>E-mail address</label>
          <input type="email" class="form-control" name="email" value="<% email %>" placeholder="E-mail address" required>
        </div>
        <div class="form-group">
          <label>Address</label>
          <textarea class="form-control" name="address" rows="3" placeholder="Address" required><% address %></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>About me</label>
          <textarea class="form-control" name="about_me" rows="7" placeholder="About me" required><% about_me %></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Professional Skills</label>
          <div class="form-icon-controller">
            <a href="javascript:" ng-click="skill_increment()"><i class="fa fa-plus form-icon" aria-hidden="true"></i></a>
          </div>
          <div class="form-control form-dynamic">
            <div class="row form-list" ng-repeat="skill in skills track by $index">
              <div class="col-md-7"><input type="text" class="form-control" name="skill[]" value="<% skill.skill %>" placeholder="Skill" required></div>
              <div class="col-md-2"><input type="text" class="form-control" name="skill_score[]" value="<% skill.skill_score %>" placeholder="Score" required></div>
              <div class="col-md-2"><input type="text" class="form-control" name="skill_full_score[]" value="<% skill.skill_full_score %>" placeholder="Full Score" required></div>
              <div class="col-md-1"><a href="javascript:" ng-click="skill_decrement($index)"><i class="fa fa-times form-icon" aria-hidden="true"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Communications</label>
          <div class="form-icon-controller">
            <a href="javascript:" ng-click="comm_increment()"><i class="fa fa-plus form-icon" aria-hidden="true"></i></a>
          </div>
          <div class="form-control form-dynamic">
            <div class="row form-list" ng-repeat="comm in communications track by $index">
              <div class="col-md-9"><input type="text" class="form-control" name="communication[]" value="<% comm.skill %>" placeholder="Communication" required></div>
              <div class="col-md-2">
                <select  class="form-control" name="comm_score[]">
                  <option value="Excellent" ng-selected="comm.score==='Excellent'">Excellent</option>
                  <option value="Very Good" ng-selected="comm.score==='Very Good'">Very Good</option>
                  <option value="Good" ng-selected="comm.score==='Good'">Good</option>
                  <option value="Fair" ng-selected="comm.score==='Fair'">Fair</option>
                  <option value="Poor" ng-selected="comm.score==='Poor'">Poor</option>
                </select>
              </div>
              <div class="col-md-1"><a href="javascript:" ng-click="comm_decrement($index)"><i class="fa fa-times form-icon" aria-hidden="true"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Interests</label>
          <div class="form-icon-controller">
            <a href="javascript:" ng-click="int_increment()"><i class="fa fa-plus form-icon" aria-hidden="true"></i></a>
          </div>
          <div class="form-control form-dynamic">
            <div class="row form-list" ng-repeat="int in interests track by $index">
              <div class="col-md-11"><input type="text" class="form-control" name="interest[]" value="<% int.detail %>" placeholder="Interest"></div>
              <div class="col-md-1"><a href="javascript:" ng-click="int_decrement($index)"><i class="fa fa-times form-icon" aria-hidden="true"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Employments</label>
          <div class="form-icon-controller">
            <a href="javascript:" ng-click="emp_increment()"><i class="fa fa-plus form-icon" aria-hidden="true"></i></a>
          </div>
          <div class="form-control form-dynamic" ng-repeat="emp in employments track by $index">
            <div class="row form-list">
              <div class="col-md-6"><input type="text" class="form-control" name="position[]" value="<% emp.position %>" placeholder="Position"></div>
              <div class="col-md-5"><input type="text" class="form-control" name="company[]" value="<% emp.company %>" placeholder="Company"></div>
              <div class="col-md-1"><a href="javascript:" ng-click="emp_decrement($index)"><i class="fa fa-times form-icon" aria-hidden="true"></i></a></div>
            </div>
            <div class="row form-list">
              <div class="col-md-3"><input type="text" class="form-control" name="period_from[]" value="<% emp.from %>" placeholder="From"></div>
              <div class="col-md-3"><input type="text" class="form-control" name="period_to[]" value="<% emp.to %>" placeholder="To"></div>
            </div>
            <div class="row form-list">
              <div class="col-md-12"><textarea class="form-control" name="position_detail[]" rows="3" placeholder="Detail"><% emp.detail %></textarea></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Educations</label>
          <div class="form-icon-controller">
            <a href="javascript:" ng-click="edu_increment()"><i class="fa fa-plus form-icon" aria-hidden="true"></i></a>
          </div>
          <div class="form-control form-dynamic">
            <div class="row form-list" ng-repeat="edu in educations track by $index">
              <div class="col-md-11"><input type="text" class="form-control" name="education[]" value="<% edu.detail %>" placeholder="Education"></div>
              <div class="col-md-1"><a href="javascript:" ng-click="edu_decrement($index)"><i class="fa fa-times form-icon" aria-hidden="true"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Computers</label>
          <div class="form-icon-controller">
            <a href="javascript:" ng-click="comp_increment()"><i class="fa fa-plus form-icon" aria-hidden="true"></i></a>
          </div>
          <div class="form-control form-dynamic">
            <div class="row form-list" ng-repeat="com in computers track by $index">
              <div class="col-md-11"><input type="text" class="form-control" name="computer[]" value="<% com.detail %>" placeholder="Computer"></div>
              <div class="col-md-1"><a href="javascript:" ng-click="comp_decrement($index)"><i class="fa fa-times form-icon" aria-hidden="true"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group"><button type="submit" class="btn btn-default">Submit</button></div>
      </div>
    </div>
  </form>
</div>
