            <div class="table-responsive" ng-controller="cvListController">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Telephone</th>
                            <th>Email</th>
                            <th>Created Date</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="list in lists">
                            <td><% list.id %></td>
                            <td><% list.name %></td>
                            <td><% list.telephone %></td>
                            <td><% list.email %></td>
                            <td><% list.date_updated %></td>
                            <td>
                              <a ng-href="#!/<% list.id %>" class="op-icon"><i class="fa fa-id-card-o" aria-hidden="true"></i></a>
                              &nbsp;
                              <a ng-href="#!/<% list.id %>/edit" class="op-icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                              &nbsp;
                              <a href="javascript:" ng-click="delete(list.id)" class="op-icon"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
